.clearfix
  = f.label(:name)
  .input
    = f.text_field(:name, :class => 'textfield')
.clearfix
  = f.label(:steps)
  .input
    = f.text_area(:steps, :class => 'textarea span12 pre')
.clearfix
.actions
  %button.btn.primary{:type => "submit"}
    = f.object.new_record? ? "Create" : "Update"
    Config
