.control-group
  = f.label(:name, :class => 'control-label')
  .controls
    = f.text_field(:name)

.control-group
  = f.label(:steps, :class => 'control-label')
  .controls
    = f.text_area(:steps, :cols => 10, :rows => 5)

.form-actions
  %button.btn.btn-primary{:type => "submit"}
    = f.object.new_record? ? "Create configuration" : "Update configuration"
  - unless f.object.new_record?
    = form_for(f.object, :url => step_list_path(f.object, :project_id => @project), :html => {:method => "DELETE", :id => "remove_step_list_#{f.object.id}"}) do |f|
      %button{:class => 'btn btn-danger' , :type => "submit"} Remove
