.build-details
  - if build.output[0]
    %h3{ :class => build.output[0].exit_code == 0 ? "status_build_ok" : "status_build_failed"}
      VCS
    %ul.unstyled
      %li
        = render :partial => "builds/step", :locals => {:step => build.output[0], :step_no => 0}
  - build.parts.each_with_index do |part, index|
    %h3{ :class => part.output[0].nil? ? "" : (part.output[0].exit_code == 0 ? "status_build_ok" : "status_build_failed") }
      = part.name
    %ul{:id => "part_#{index}", :class => 'unstyled' }
      - part.output.each_with_index do |output, index|
        %li{:id => "step_#{index + 1}"}
          = render :partial => "builds/step", :locals => {:step => output, :step_no => index + 1}
      - if build.status == Build::STATUS_PROGRESS
        %li{ :class => Build::STATUS_PROGRESS }
          %div.pulse
          %span.label.warning Building
