%tt.command= "#{step_no}. #{step.command}"
%br
= step.exit_code || "Task was not executed"
- if !step.exit_code.nil? and step.to_s
  %pre
    - step.each do |type, text|
      - if (type != Runner::Output::TYPE_STDERR or params[:stderr])
        %span{:class => type}= text
