%div{:id => "step_#{step_no}", :class => step.exit_code == 0 ? "status_build_ok" : "status_build_failed"}
  %tt.command= "#{step_no}. #{step.command}"
  %br
  %div.value_list
    %span.title exit code
    %span.value= step.exit_code
  - if !step.exit_code.nil? and step.to_s
    %br
    %pre
      - step.each do |type, text|
        - if (type != Runner::Output::TYPE_STDERR or params[:stderr])
          %span{:class => type}= text
%br
