#build
  %h2= @build.project.name

  %table.value_list
    %tr
      %td.title Commit
      %td.value= @build.commit
    %tr
      %td.title Directory
      %td.value= strip_rails_root(@build.build_dir)
    %tr
      %td.title Author
      %td.value= mail_to(@build.email, @build.author + " <" + @build.email + ">")
    %tr
      %td.title Message
      %td.value= @build.commit_message
    %tr
      %td.title Committed at
      %td.value= l(@build.committed_at, :format => :full)
    %tr
      %td.title Scheduled at
      %td.value= l(@build.scheduled_at, :format => :full)
    - if @build.started?
      %tr
        %td.title Started at
        %td.value= l(@build.started_at, :format => :full)
    - if @build.finished?
      %tr
        %td.title Duration
        %td.value= build_duration(@build)

  #steps
    %h3 Steps
    %ol
      - (@build.stdout || []).each_with_index do |output, index|
        %li{:id => "step_#{index + 1}"}
          = render :partial => "step", :locals => {:step => output, :step_no => index + 1}

- content_for :sidebar do
  - if params[:stderr].nil?
    %li= link_to("Show stderr", build_path(@build, :stderr => 1), :class => "black_button")
  - else
    %li= link_to("Hide stderr", build_path(@build), :class => "black_button")
  %li= link_to("All builds", project_path(@build.project), :class => "black_button")
  %li= link_to("Build now", build_project_path(@build.project), :class => "black_button")
