#build
  %h2 Build
  %p.step= "#{@build.commit}"
  %h2 Dir
  %p.step= "#{@build.build_dir}"


  %h2 Steps
  - (@build.stdout || []).each do |step|
    %p.step= step[:command]
    #output
      %pre= step[:output]

%br
= link_to("Back", project_path(@build.project), :class => "button")
