.page-header
  %h1
    = @build.project.name
    = "##{@build.build_no}"
    %small
      via
      %code.dark= @build.project.vcs_source
      on
      %code.dark= @build.project.vcs_branch
    - unless BigTuna.read_only?
      = link_to("Build now", build_project_path(@build.project), :class => "btn crm btn-large btn-success pull-right")

  .btn-group.light
    - if params[:stderr].nil?
      = link_to("Show stderr", build_path(@build, :stderr => 1), :class => "btn btn-warning")
    - else
      = link_to("Hide stderr", build_path(@build), :class => "btn btn-warning")
    - unless BigTuna.read_only?
      = link_to("Edit project", edit_project_path(@build.project), :class => "btn")
      = form_tag(build_path(@build), :method => "DELETE") do
        %button{:class => 'btn btn-danger', :type => "submit"} Delete build


#build.row
  .span8
    #ajax-reload= @build.ajax_reload?

    = render :partial => 'build', :locals => { :build => @build }

    - unless @build.finished?
      - build_path_params = params[:stderr] ? {:format => :js, :stderr => 1} : {:format => :js}
      = ajaxReload(build_path(@build, build_path_params))
  .span4
    - unless BigTuna.read_only?
      %div.project-actions
        - unless BigTuna.read_only?
          = render :partial => 'build_details'

- content_for :topbar do
  %li= link_to("#{@build.project.name} home", project_path(@build.project))
  %li= link_to("", feed_project_path(@project, :format => "atom"), :class => "rss")
