#build
  %h2 Build
  %p.step= "#{@build.commit}"
  %h2 Dir
  %p.step= "#{@build.build_dir}"

  #steps
    %h2 Steps
    - (@build.stdout || []).each_with_index do |output, index|
      %div{:id => "step_#{index + 1}"}
        %p.step= output.command
        %span.exit_code= output.exit_code || "Task was not executed"
        - if !output.exit_code.nil? and output.to_s
          #output
            %pre
              - output.each do |type, text|
                = "[#{type}] #{text}"
%br
= link_to("Back", project_path(@build.project), :class => "button")


