#build
  %h2= @build.project.name
  
  %p.step
    %span.item Build:
    = "#{@build.commit}"
    %br
    %span.item Directory:
    = "#{@build.build_dir}"

  #steps
    %h2 Steps
    - (@build.stdout || []).each_with_index do |output, index|
      %div{:id => "step_#{index + 1}"}
        %p.step= output.command
        %span.exit_code= output.exit_code || "Task was not executed"
        - if !output.exit_code.nil? and output.to_s
          #output
            %pre
              - output.each do |type, text|
                = "[#{type}] #{text}"

- content_for :sidebar do
  = link_to("Back to project", project_path(@build.project), :class => "black_button")

