%div
  = f.label(:name)
  = f.text_field(:name)
%div
  = f.label(:steps)
  = f.text_area(:steps)
%div
  = f.label(:vcs_type)
  = f.text_field(:vcs_type)
%div
  = f.label(:vcs_source)
  = f.text_field(:vcs_source)
%div
  = f.label(:max_builds)
  = f.text_field(:max_builds)
%div
  = f.label(:hook_name)
  = f.text_field(:hook_name)
%div
  = f.submit(f.object.new_record? ? "Create" : "Update")
