%div
  = f.label(:name)
  %br
  = f.text_field(:name, :class => 'textfield')
%div
  = f.label(:steps)
  %br
  = f.text_area(:steps, :class => 'textarea')
%div
  = f.label(:vcs_type)
  %br
  = f.text_field(:vcs_type, :class => 'textfield')
%div
  = f.label(:vcs_source)
  %br
  = f.text_field(:vcs_source, :class => 'textfield')
%div
  = f.label(:max_builds)
  %br
  = f.text_field(:max_builds, :class => 'textfield')
%div
  = f.label(:hook_name)
  %br
  = f.text_field(:hook_name, :class => 'textfield')
%div
  = f.submit(f.object.new_record? ? "Create" : "Update")
