.page-header
  %h1
    = @project.name
    %small Edit project options and configurations

.row
  .span6
    %h2 Edit project
    = form_for(@project, :url => project_path(@project), :html => { :class => 'form-horizontal'}) do |f|
      = render :partial => "form", :locals => {:f => f}
  .span6.right-column

    %h2 New configuration
    %div.hint
      Special variables are available.
      %ul
        %li= "<tt><b>%build_dir%</b> directory where build is checked out</tt>".html_safe
        %li= "<tt><b>%project_dir%</b> directory shared by all builds in project</tt>".html_safe
      %span.help-block= "You can comment a step with <tt>#</tt>".html_safe
    = form_for(StepList.new, :url => step_lists_path(:project_id => @project), :html => { :class => 'form-horizontal'}) do |f|
      = render :partial => "step_lists/form", :locals => {:f => f}

    - unless @project.step_lists.empty?
      %h2 Available configurations
      - @project.step_lists.each do |step_list|
        %div.hint
          %ul
            - step_list.shared_variables.each do |variable|
              %li= "<tt><b>%#{variable.name}%</b> #{variable.value}</tt>".html_safe
          = link_to("Edit configuration specific variables", shared_variables_path(:step_list_id => step_list), :class => 'btn btn-small pull-up')
        = form_for(step_list, :url => step_list_path(step_list, :project_id => @project), :html => { :class => 'form-horizontal', :method => "PUT"}) do |f|
          = render :partial => "step_lists/form", :locals => {:f => f}



- content_for :topbar do
  - unless BigTuna.read_only?
    %li= link_to("#{@project.name}", project_path(@project), :class => "black_button")

