#listing
  %h2 Projects
  = "No projects yet." unless !@projects.empty?
  - @projects.each do |project|
    %ol
      %li{:class => "#{project.status} project", :id => dom_id(project)}
        .name
          %p= link_to(project.name, project_path(project))
        %table.value_list
          - if project.recent_build && project.recent_build.commit_data?
            %tr
              %td.title Commit
              %td.value= project.recent_build.commit
            %tr
              %td.title Author
              %td.value= mail_to(project.recent_build.author, project.recent_build.email + " <" + project.recent_build.author + ">")
            %tr
              %td.title Message
              %td.value= truncate(project.recent_build.commit_message, :length => 55)
          %tr
            %td.title Stability
            %td.value= format_stability(project.stability)
        .info
          - if ! project.first?
            = link_to("Up", arrange_project_path(project, :up => true))
          - if ! project.last?
            = link_to("Down", arrange_project_path(project, :down => true))

- content_for :sidebar do
  =link_to("new project", new_project_path, :class => 'black_button')
