.page-header
  %h1
    = @project.name
    %small
      via
      %code.dark= @project.vcs_source
      on
      %code.dark= @project.vcs_branch
    - unless BigTuna.read_only?
      = link_to("Build now", build_project_path(@project), :class => "btn crm btn-large btn-success pull-right")
    .btn-toolbar
      - unless BigTuna.read_only?
        .btn-group.light
          = link_to("Edit project", edit_project_path(@project), :class => "btn")
          = link_to("Duplicate project", duplicate_project_path(@project), :class => "btn")
          = link_to("Remove project", remove_project_path(@project), :class => "btn btn-danger")
      .btn-group.light
        = link_to("RSS Feed", feed_project_path(@project, :format => "atom"), :class => "btn btn-warning")


- if @project.builds.any?
  = render :partial => 'builds'
- else
  .row
    .span12
      .hero-unit
        %h1= "No builds yet."
        %p
          Press the Build now button to start a build!

  .span4
    - if @project.builds.any?
      %ul.part-status
        - if @project.builds.last.parts.empty?
          %li
            %span{ :class => "label notice" } Queued
        - @project.builds.last.parts.each_with_index do |part, index|
          %li
            %span{ :class => "label #{status_css_class(part.status)}" }
              = link_to(formatted_status(part.status), build_path(@project.builds.last, :stderr => @project.builds.last.status == Build::STATUS_OK ? nil : 1, :anchor => "part_#{index}"))
            %span.name
              = part.name
      = ajaxReload(project_path(@project, :format => :js))

