#listing
  %h2= @project.name

  %table.value_list
    %tr
      %td.title Repository
      %td.value= @project.vcs_source
    %tr
      %td.title Branch
      %td.value= @project.vcs_branch
  %br
  = render :partial => 'builds'


= ajaxReload(project_path(@project, :format => :js))




- content_for :sidebar do
  - unless BigTuna.read_only?
    %li= link_to("Edit", edit_project_path(@project), :class => "black_button")
    %li= link_to("Remove project", remove_project_path(@project), :class => "black_button")
    %li= link_to("Build now", build_project_path(@project), :class => "black_button")
    %Li= link_to("Duplicate", duplicate_project_path(@project), :class => "black_button")
  %li= link_to("Feed", feed_project_path(@project, :format => "atom"), :class => "rss")
