#listing
  %h2= @project.name
  = link_to("Edit", edit_project_path(@project), :class => "button")
  = link_to("Remove project", remove_project_path(@project), :class => "button")
  = link_to("Build now", build_project_path(@project), :class => "button")
  %tbody
    - @builds.each do |build|
      %div{:class => build.status, :id => dom_id(build)}
        .name
          %p= link_to(build.display_name, build_path(build))
        .info
          = ("author: " + link_to(build.author, "mailto:#{build.email}")).html_safe
          %br
          = "message: " + truncate(build.commit_message, :length => 55)
          %br
          = "scheduled at: " + build.scheduled_at.strftime("%Y-%m-%d %H:%M")
        .info
          = form_tag(build_path(build), :method => "DELETE") do
            %button{:type => "submit"} Delete
