%h2= "#{@hook.backend.class::NAME} hook for #{@project.name}"

= form_for(@hook, :url => project_config_hook_path(@project, @hook.backend.class::NAME), :html => {:method => "PUT"}) do |f|
  - begin
    = render(:partial => "#{@hook.backend.class::NAME}/form", :locals => {:f => f})
    %button{:type => "submit"} Edit
  - rescue ActionView::MissingTemplate
    %p This hook doesn't have any configuration.
  = link_to("Back to project edit", edit_project_path(@project), :class => "black_button")
