!!!
%html
  %head
    %title BigTuna Continuous Integration
    = stylesheet_link_tag "reset.css"
    = stylesheet_link_tag "master.css"
    = stylesheet_link_tag "bootstrap.min.css"
    = javascript_include_tag :all
    = csrf_meta_tag
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8"}
    %meta{:name => "keywords", :content => "keywords"}
    %meta{:name => "description", :content => "description"}
  %body{ :style => 'padding-top: 60px;' }
    .topbar
      .topbar-inner
        .container
          %h3
            = link_to("BigTuna", root_path)
          %ul.nav
            - unless BigTuna.read_only?
              %li
                = link_to("New Project", new_project_path)
            = yield :topbar

          %p.pull-right
            checked with
            = link_to("BigTuna", "http://bigtuna.appelier.com", :target => "_blank", :title => "BigTuna v#{BigTuna::VERSION}")
    .container
      = flash[:error]
      = flash[:notice]
      = yield

    = yield :sidebar
